@tailwind base;

@tailwind components;

@tailwind utilities;


/* set --debug var to 1 to show
thin border around elements
for layout debugging

otherwise set to 0 when ready 
for styling or done debugging */

* {
	--debug: 1;
}

.title,
.post,
.ads,
.like {
	background-color: rgb(233, 239, 248);
}

body {
	background-color: rgb(31, 94, 189);
}

.ads-height {
	height: auto;
}
.posts {
	max-width: 650px;
}
.post-height {
	height: 250px;
}
.post-width {
	max-width: 400px;
}
.like-height {
	height: 60px;
}
.reccs-width {
  width: 200px;
}

.recommendations {

}

