@tailwind base;

@tailwind components;

@tailwind utilities;


/* set --debug var to 1 to show
thin border around elements
for layout debugging

otherwise set to 0 when ready 
for styling or done debugging */

* {
	--debug: 0;
	
}



.title,
.post,
.ads,
.like {
	background-color: rgb(233, 239, 248);
}

body {
	background-color: rgb(31, 94, 189);
	
}

.ads-height {
	height: auto;
}
.posts {
	max-width: 500px;
}
.post-height {
	height: 250px;
}
.post-width {
	max-width: 400px;
}
.like-height {
	height: 60px;
}
.reccs {
  max-width: 300px;
}
.recommendations {
	max-width: 9999px;
}

@media only screen and (max-width: 1024px) {
	
}
	.recommendations {
		max-width: 250px;
	}


