@tailwind base;

@tailwind components;

@tailwind utilities;


/* set --debug var to 1 to show
thin border around elements
for layout debugging

otherwise set to 0 when ready 
for styling or done debugging */

* {
	--debug: 1;
	
}



.title,
.video,
.ads, .reccs{
	background-color: rgb(30, 30, 30);
}

body {
	background-color: rgb(15, 15, 15);

	
}

.reccs {
	border-left: 5px solid rgb(100, 100, 100);
	padding: 10px;
}

.comment {
	background-color: rgb(30, 30, 30);
	border-left: 5px solid rgb(100, 100, 100);
}

.ads-height {
	height: auto;
}

.video-height {
	height: 250px;	
}


.comment-height {
	height: 45px;
}
.headerwrapper {
	height: 50px;
	background-color: rgb(30, 30, 30);
	border-bottom: 5px solid rgb(100, 100, 100);
	
  }
@media only screen and (min-width: 512px) {

	
.video-height {
	height: 350px;	
}
	
}